/*assignment-week-2*/

body {
    font-family: Open Sans, sans-serif;
    background-color: rgb(208, 229, 178);
    margin-top: 1%;
}

nav {
    position: fixed;
    /*background-color: rgb(177, 229, 105);*/
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    /*border-bottom: 2px solid #22c722;*/
    background: linear-gradient(to left, #f05053 50%, rgb(208, 229, 178));
}

em {
    color: rgb(100, 154, 18);
    font-style: oblique;
}

.relative-container {
    position: relative;
  }

nav > span {
    display: flex;
    align-items: center;
}

nav > span > img {
    height: 32px;
    width: auto;
    padding: 10px;
}

.desktop {
    display: block;
}

nav > ul {
    margin-left: auto;
    margin-right: 16px;
  }

nav > ul > li {
    display: inline-block;
    color: rgb(100, 154, 18);
    font-style: oblique;
  }

nav > ul > li > a {
    color: rgb(13, 19, 5);
    font-style: oblique;
  }

header {
    text-align: center;
    color: white;
    background-color: #2222228f;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
  }
