/*-----------------------------------------------------ASSIGNMENT-WEEK-2-------------------------------------------------------------*/



/*-----main body-----*/
body {
    /*font-style: courier,arial,helvetica;*/
    background-color: rgb(208, 229, 178);
    margin-top: 0%;
  }

/*-----navigasi-----*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    background: linear-gradient(to left, #f05053 50%, rgb(208, 229, 178));
  }



.main-logo {
    position: relative;
  }

nav > span {
    display: flex;
    align-items: center;
  }

nav > span > img {
    height: 32px;
    width: auto;
    padding: 10px;
  }

em {
    color: rgb(100, 154, 18);
    font-family: courier,arial,helvetica;
    text-shadow: 0.5px 0.5px 0px #D7DACC, 3px 3px 0px rgba(0,0,0,0.1);
  }

nav .copyright {
  font-size: x-small;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: -7px;
  }

.desktop {
    display: block;
  }

nav > ul {
    margin-left: auto;
    margin-right: 16px;
  }

nav > ul > li {
    display: inline-block;
    color: rgb(100, 154, 18);
    font-style: oblique;
  }

nav > ul > li > a {
    color: rgb(13, 19, 5);
    font-family: serif;
    font-size: medium;
    margin-right: 5px;
  }

.menubar a:hover{
    cursor: pointer;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 0px;
    color: darkblue;
    text-shadow: 0.2px 0.2px 0px #D7DACC, 8px 8px 0px rgba(0,0,0,0.1);
    font-size: 18px;
  }

/*-----first header-----*/

header {
    text-align: center;
    background-image: radial-gradient(50% 100%, rgba(100, 154, 18), rgba(208, 229, 178) 100%);
    background-blend-mode: normal, lighten, soft-light;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
    border-bottom: green;
  }

.first-header > h1 {
    color: rgb(227, 234, 218);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 0px rgb(165, 184, 138), 8px 1px 0px rgba(0,0,0,0.1);
  }

.first-header > p {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 10px 0px 8px;
    text-transform: capitalize;
    color: whitesmoke;
  }


/*-----Mading Toko-----*/

/* Tiga container gambar (gunakan 25% untuk empat dan 50% untuk dua, dll) */
section {
    margin: 0 25px;
  } 

h2 {
    font-family: 'Roboto Mono',monospace;
    text-align: center;
  }

#location-picture .right-left {
    display: flex;
    gap: 10px;
  } 

#location-picture .right-left >div{
    width: 25%;
    height: 350px;
  }

#location-picture .right-left  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



/*-----Macam-macam rempah-----*/

aside {
    width: 30%;
    padding-left: 15px;
    margin-right: 10%;
    float: left;
    font-style: italic;
    background-color: none;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
  }

#daftar-herbal{
  margin-top: 100px;
}

#daftar-herbal .type-herbal{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(68, 103, 18, 0.3);
    width:100%;
    justify-content: center;
    clear:both;
    margin-left:auto;
  }
  
#daftar-herbal .type-herbal >div{
    background-color: #65b75c56;
    width: 12%;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 65px;
    margin-bottom: 0;
  }

#daftar-herbal .type-herbal  img {
    width: 100%;
    min-height: 150px;
    border-radius: 15px;
    object-fit: cover;  
  }

#daftar-herbal .type-herbal  figcaption {
    text-align: center;
    font-style: oblique; 
  }



/*-----supported video user-----*/
#how-to-use{
    margin-top: 7%;  
  }
  
#how-to-use .user-video{
  text-align: center;
  background-image: radial-gradient(50% 100%, rgba(100, 154, 18), rgba(208, 229, 178) 100%);
  background-blend-mode: normal, lighten, soft-light;
  }

#how-to-use .user-video video{
      width: 50%;
      height: 50%;
      margin: 10px;
      border-radius: 15px;
      object-fit: cover;
  }

/*-----Form for customer-----*/

#form-address {
  color: rgb(8, 8, 8);
  background-image: radial-gradient(50% 50%, rgba(100, 154, 18, 0.589) 80%, rgba(208, 229, 178) 150%);
  padding: 8px;
  margin-top: 5%;  
}

#form-address form {
  font-size: medium;
  font-family: 'Roboto Mono',monospace;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

input[type="text"],input[type="email"], textarea {
  width: 97.5%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
}

select{
  width: 78%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;

}

input[type="submit"]{
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  justify-content: center;
  display: inline-block;
}

/*-----Footer-----*/

.footer > p {
  text-align: center;
  font-style: italic;
}